.current-weather-wrapper {
  margin-top: 10vh;

  @media (max-width: 767px) {
    margin-top: 5vh;
  }

  .city-unavailable {
    font-size: 3rem;
    color: #ffffff;
  }

  sup {
    top: -0.8em;
    font-size: 60%;
  }
}

.current-weather-container {
  * {
    color: #ffffff;
  }

  .city-name {
    font-size: 3rem;

    .country-code {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }

    @media (max-width: 399px) {
      font-size: 2.5rem;
    }
  }

  .date {
    font-size: 1.5rem;
  }

  .temp-conatiner {
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .weather-icon {
      font-size: 5rem;
      padding-right: 0px;
      max-width: 150px;
    }

    .temp-text {
      font-size: 4rem;
    }

    @media (max-width: 768px) {
      .weather-icon {
        font-size: 4rem;
        padding-right: 0px;
        max-width: 125px;
      }

      .temp-text {
        font-size: 2.5rem;
      }
    }

    @media (max-width: 399px) {
      .temp-text {
        font-size: 8vw;
      }
    }
  }

  .weather-desc {
    font-size: 1.5rem;
  }

  .weather-other-details-conatiner {
    margin: 1.5rem 0;

    // @media (max-width: 767px) {
    //   &:last-child {
    //     margin-top: 0;
    //   }
    // }
  }

  .weather-other-details {
    font-size: 1.2rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    .weather-other-details-text {
      font-weight: bold;
      margin-right: 0.5rem;
    }

    @media (max-width: 399px) {
      font-size: 1rem;
    }
  }

  .last-updated-text {
    opacity: 0.4;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;

    .refresh-btn {
      font-size: 2rem;
      padding: 0px;
      line-height: 1;
      margin-left: 1.5rem;
    }

    @media (max-width: 399px) {
      display: block;
      text-align: center;

      .refresh-btn {
        display: block;
        margin-left: calc(50% - 20px);
      }
    }
  }
}

.card {
  &.other-weather-info {
    background-color: transparent !important;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.15rem;

    .list-group-item {
      background-color: rgba(255, 255, 255, 0.2);
      font-size: 1.2rem;

      > .wi {
        &:first-child {
          margin-right: 1rem;
          min-width: 25px;
        }
      }

      small {
        font-size: 0.7rem;
        margin-left: 0.5rem;

        @media (max-width: 399px) {
          display: none;
        }
      }
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
