.section-top-bg {
  position: relative;
  background-image: url("./assets/img/w-bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 25px;
  padding-top: 80px;

  > section {
    position: relative;
    z-index: 10;
    width: 100%;
  }
}
